* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trykker', serif;
}
/* ==== COLOR ==== //
color: #d8d8f6;
color: #121420;
color: #403F4C;
color: #1B2832;
color: #2C2B3C; */

body {
    margin: 0 auto;
    justify-content: center;
    color: #d8d8f6;
    background-color: #121420;
}
h1 {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-family: 'Revalia', cursive;
    font-size: 35px;
}
h2 {
    font-size: 32px;
    text-align: center;
    font-weight: bold ;
}
p {
    padding: 10px;
    color: #d8d8f6;
    font-family: 'Trykker', serif;
}
.meta_description {
    font-size: 22px;
}
.citation, .auteur {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}
.auteur {
    text-align: right;
}
#welcome {
    width: 320px;
    text-align: center;
}
#description {
    padding: 5px;   
    text-align: justify;
}
#competences, #realisations, #description {
    width: 320px;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
}
h3 {
    padding: 10px;
    margin: 10px auto;
    font-size: 25px;
    font-family: 'Sacramento', cursive;
    color: #d8d8f6;
    text-align: center;
}
.card-container {
    display: flex;
    flex-direction:row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.card-container .card {
    min-width: 280px;
    height: auto;
    text-align: center;
    margin: 20px;
}
img {
    max-width: 300px;
    padding: 20px 5px;
}
.photo {
    max-width: 200px;
}
.card-text {
    font-size: 20px;
    font-family: 'Trykker', serif;
    color: #121420;
}
.card-title {
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    color: #121420;
}
h4 {
    margin: 10px auto;
    font-family: 'Revalia', cursive;
    font-size: 20px;
    text-align: center;
}  
.card {
    background-color: #d8d8f6;
    margin: 20px auto;
}
.btn {
    background-color: #403F4C;
    border-radius: 5px;
}
.form {
    width: 320px;
    font-size: 32px;
    text-align: center;
    font-weight: bold ;
}
.answer {
    text-align: center;
    margin: 20px auto;
}
.message {
    margin: 10px auto;
    text-align: center;
} 
textarea {
    width: 300px;
    height: 120px;
    background-color: #d8d8f6;
}
input {
    width: 300px;
    background-color: #d8d8f6;
}
.btn_submit {
    text-align: center;
    margin: 10px auto;
    width: 150px;
}
.contact-button {
    width: 150px;
    background-color: #d8d8f6;
    padding: 5px;
    border-radius: 5px;
    color: #403F4C;;
    border: none;
    cursor: pointer;
}
.contact-button:hover {
    opacity: 0.8;
}
.card-img-top1 {
    width: 90%;
}
.card-img-top2 {
    width: 50%;
}
.card-img-top3 {
    width: 80%;
}

/* === MEDIA QUERIES === */

@media screen and (min-width: 750px) {
    h1 {
        margin-top: 0;
        font-size: 60px;
    }
    h2 {
        max-width: 600px;
        font-size: 55px;
    }
    .meta_description {
        font-size: 35px;
    }
    .citation, .auteur {
        font-size: 30px;
    }
    .auteur {
        text-align: right;
    }
    #welcome {
        width: 700px;
    }
    #description {
        width: 700px;
        font-size: 30px;
    }
    #competences, #realisations {
        width: 700px;
        font-size: 30px;
    }
    h3 {
        font-size: 50px;
    }
    img {
        max-width: 300px;
    }
    .photo {
        max-width: 300px;
    }
    h4 {
        font-size: 35px;
    }  
    textarea {
        width: 500px;
    }
    input {
        width : 500px; 
    }
}


@media screen and (min-width: 990px) {
    body {
        box-sizing: border-box;
    }
    h1, h2, h3, h4, p, .photo, img {
        display: block;
    }
    h1 {
        font-size: 60px;
        margin: 90px 0 150px 0;
    }
    .welcome-container {
        display: inline;
        width: 1000px;
    }
    .photo {
        width: 30%;
        float: right;
    }
    .meta_description, h2 {
        width: 60%;
        margin-left: 10px;
    }
    h2 {
        max-width: none;
        font-size: 60px;
        justify-content: right;
    }
    .citation, .auteur {
        font-size: 40px;
    }
    .citation {
        margin-top: 80px;
        width: 90%;
    }
    .auteur {
        width: 50%;
    }
    #welcome {
        width: 1100px;
        margin-bottom: 150px;
    }
    #competences, #realisations, #description{
        width: 1100px;
        font-size: 22px;
        display: flex;
        flex-direction: row;
        margin-bottom: 150px;
    }
    #competences {
        flex-direction: row-reverse;
    }
    #competences > h3 {
        order: 1;
    }
    .para-compet {
        text-align: justify;
    }
    #description > h3 {
        order: -1;
    }
    .para-description {
        width: 600px;
        text-align: justify;
    }
    h3 {
        padding: 0;
        margin: 0;
        font-size: 50px;
        writing-mode: vertical-lr;
        float: left;
        max-height: auto;
    }
    h3 .competences {
        height: 500px;
    }
    img {
        max-width: 450px;
    }
    .photo {
        max-width: 700px;
    }
    .card-container::-webkit-scrollbar {
        display: none;
        width: 0;
    }
    #contact {
        width: 1100px;
    }
    .contact-container {
        position: relative;
        width: 985px;
    }
    .row {
        width: 800px;
        display: flex;
        margin: 0 auto;
    }
    h4 {
        font-size: 35px;
        margin-bottom: 50px;
    }  
    textarea {
        width: 750px;
    }
    input {
        width : 350px; 
    }
}